._header{
    display: flex;
}
._header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    margin:0 5rem;

    
}
._header-content h1{
    background:-webkit-linear-gradient(108deg, rgba(238, 0, 255, 1) 0%, rgba(187, 0, 255, 1) 24%, rgba(255, 0, 163, 1) 57%, rgba(255, 0, 48, 1) 100%);
    -webkit-background-clip: text;
    background-clip: calc();
  -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;

}
._header-content p{
    color: beige;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
    font-size: 20px;
    margin-top: 1rem;
}
._header-content_form{
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
._header-content_form input{
    flex: 2;
    width: 100%;
    padding: 0.5rem;
    height: 40px;
    font-family: var(--font-family);
    font-size: 18px;
    color: #fff;
    background-color: rgb(5, 33, 70);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}
._header-content_form button{
    flex: 0.6;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
    color: #fff;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    background-color: var(--color-button);
    border: none;
    outline: none;
}
._header-content_form button:hover{
    background-color: var(--color-button-h);
    /* border: 2px solid rgba(252, 25, 112, 0.808); */
}
._header-content_people{
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
._header-content_people p{
    font-family: var(--font-family);
    margin: 0 0 0 1rem;
}
._header-content_tree{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
._header-content_tree img{
    width: 450px;
    height: 450px;
}

@media screen and (max-width : 1050px){
    ._header{
        flex-direction: column;
    }
    ._header-content{
       
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
   
}
@media screen and (max-width : 650px){
    ._header{
        
        align-items: center;
        justify-content: center;
    }
    ._header h1{
        font-size: 48px;
        line-height: 50px;
    }
    ._header P{
        font-size: 16px;
        line-height: 24px;
    }
    ._header-content_people {
        flex-direction: column ;
        margin: 1rem 0; 
    }
    ._header-content_people p{
        margin: 0; 
    }
}
